div.webmynd-toolbar-adjusted-0px {
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	color: black;
	background: transparent;
	text-shadow: none;
}