/*
  An overlay style sheet that makes the web faster, more private, and more
  secure.

  Copyright 2010-2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  This CSS resource incorporates links to font software which is the valuable
  copyrighted property of WebType LLC, The Font Bureau, and/or their suppliers.
  You may not attempt to copy, install, redistribute, convert, modify, or
  reverse engineer this font software. Please contact WebType with any
  questions: http://www.webtype.com/.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
@font-face {
  font-family: 'Antenna RE';
  src: url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot
  );
  src: url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot?
  ) format('embedded-opentype'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-3.woff
  ) format('woff'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-1.ttf
  ) format('truetype'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-4.svg#web
  ) format('svg');
  font-style: normal;
  font-weight: normal
}

#disconnect-button {
  margin-right: 0;
  list-style-image: url(chrome://disconnect/content/24.png);
  -moz-image-region: rect(0, 24px, 24px, 0)
}

toolbar[iconsize=small] #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#nav-bar[mode=full] .windows#disconnect-button { padding-top: 5px }

#PersonalToolbar[mode=text] #disconnect-button { margin-top: -1px }

#CustomizeToolbarWindow #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#toolbar-menubar .disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#TabsToolbar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#TabsToolbar[mode=icons]
.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

.disconnect-badge#disconnect-button {
  -moz-image-region: rect(48px, 24px, 72px, 0)
}

.linux.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

toolbar[iconsize=small] .linux.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#nav-bar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#nav-bar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#PersonalToolbar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#PersonalToolbar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#PersonalToolbar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#CustomizeToolbarWindow .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

#addon-bar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#addon-bar[mode=icons]
.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#addon-bar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#addon-bar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#disconnect-button .toolbarbutton-menu-dropmarker { display: none }

#disconnect-item vbox { width: 4px }

#disconnect-badge {
  margin: 14px 0 -3px -14px;
  padding-right: 2px;
  padding-left: 2px;
  height: 12px;
  text-align: center;
  font: xx-small 'Antenna RE', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  visibility: hidden
}

#navigator-toolbox[mode=icons] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: -3px;
  margin-left: -11px
}

#navigator-toolbox[mode=icons] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: -1px;
  margin-left: -15px
}

#navigator-toolbox[mode=text] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: -9px;
  margin-left: -5px
}

#navigator-toolbox[mode=text] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 9px;
  margin-right: -9px;
  margin-left: -9px
}

#navigator-toolbox[mode=full] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -32px
}

#navigator-toolbox[mode=full] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

#TabsToolbar[mode=icons] #disconnect-badge { margin-top: 10px }

#TabsToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 11px;
  margin-right: -3px;
  margin-left: -11px
}

#TabsToolbar[mode=icons] .linux#disconnect-badge {
  margin-left: -15px;
  margin-top: 11px;
}

#nav-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 21px;
  margin-right: 17px;
  margin-left: -31px
}

#nav-bar[mode=icons] .linux#disconnect-badge {
  margin-top: 15px;
  margin-right: 5px;
  margin-left: -19px
}

#navigator-toolbox[iconsize=small] #nav-bar[mode=icons] #disconnect-badge {
  margin-bottom: -4px
}

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.windows#disconnect-badge { margin: 16px -3px -2px -11px }

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.linux#disconnect-badge {
  margin-top: 13px;
  margin-left: -15px
}

#nav-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#nav-bar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#nav-bar[mode=text] .linux#disconnect-badge {
  margin-top: 9px;
  margin-left: -7px
}

#nav-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -30px
}

#nav-bar[mode=full] .windows#disconnect-badge {
  margin-top: 11px;
  margin-right: 17px;
  margin-left: -32px
}

#nav-bar[mode=full] .linux#disconnect-badge {
  margin-top: 15px;
  margin-right: 26px;
  margin-left: -39px
}

#navigator-toolbox[iconsize=small] #nav-bar[mode=full] .linux#disconnect-badge {
  margin-top: 12px
}

#PersonalToolbar[mode=icons] #disconnect-badge { margin-top: 9px }

#PersonalToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: -3px;
  margin-left: -11px
}

#PersonalToolbar[mode=icons] .linux#disconnect-badge {
  margin-top: 12px;
  margin-left: -15px
}

#PersonalToolbar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#PersonalToolbar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#PersonalToolbar[mode=text] .linux#disconnect-badge {
  margin-top: 8px;
  margin-left: -7px
}

#PersonalToolbar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 15px;
  margin-left: -30px
}

#PersonalToolbar[mode=full] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -32px
}

#PersonalToolbar[mode=full] .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

#CustomizeToolbarWindow #disconnect-badge { margin-top: 33px }

#CustomizeToolbarWindow .windows#disconnect-badge {
  margin-top: 32px;
  margin-right: -3px;
  margin-left: -11px
}

#addon-bar[mode=icons] #disconnect-badge { margin-top: 9px }

#addon-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 8px;
  margin-right: -3px;
  margin-left: -11px
}

#addon-bar[mode=icons] .linux#disconnect-badge {
  margin-top: 11px;
  margin-left: -15px
}

#addon-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-right: 1px;
  margin-left: 2px
}

#addon-bar[mode=text] .windows#disconnect-badge {
  margin-top: 6px;
  margin-left: -5px
}

#addon-bar[mode=text] .linux#disconnect-badge {
  margin-top: 9px;
  margin-left: -10px
}

#addon-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -29px
}

#addon-bar[mode=full] .windows#disconnect-badge {
  margin-top: 6px;
  margin-right: 17px;
  margin-left: -32px
}

#addon-bar[mode=full] .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

.disconnect-blocked#disconnect-badge {
  background: #009548;
  visibility: visible
}

.disconnect-unblocked#disconnect-badge {
  background: #787878;
  visibility: visible
}

#disconnect-list {
  display: block;
  margin-right: 1px;
  margin-left: 1px;
  box-shadow: none;
  border: none;
  padding: 0
}

#disconnect-graph {
  margin: 1px;
  box-shadow: none;
  border: none;
  padding: 0
}

#graph {
  display: none;
  margin-right: 1px;
  margin-left: 1px;
  box-shadow: none;
  border: none;
  padding: 0;
  height: 318px;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8pt;
  padding: 0;
  background-color: white;
  color: #666666;
}

#sidebar {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
  padding-left: 15px;
  padding-bottom: 15px;
  pointer-events: none;
}

#sidebar-content {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
}

#sidebar-content p:first-child, #sidebar-content h2 {
  margin-top: 0;
  font-size: 8pt;
}

#sidebar-content #domain-infos .info a.visited {
  color: #3388ff;
}

#sidebar-content #domain-infos .info a.tracker {
  color: #d62728;
}

#sidebar-content #domain-infos .info a.tracker.blocked {
  text-decoration: line-through;
}

.notification {
  margin-bottom: 4px;
  border: 1px solid #fc0;
  border-radius: 5px;
  background: linear-gradient(white, #fe8);
  padding: 10px;
  width: 772px;
}


g.node.unrelated-domain image {
  display: none;
}

g.node.unrelated-domain circle.glow {
  display: none;
}

g.node.unrelated-domain circle.visited {
  stroke: #bfffff;
}

g.node.unrelated-domain circle.site {
  stroke: #dfdfdf;
}

g.node.unrelated-domain .tracker {
  stroke: #efdfaf;
}

g.node.unrelated-domain circle.round-border {
  fill: #eaeaea;
}

.round-border {
  fill: #fff;
  stroke-width: 2px;
}

marker {
  stroke: none;
  fill: #000;
  fill-opacity: 1;  
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

line.bold {
  stroke: #000;
  stroke-opacity: 1;
}

.hidden {
  display: none;
}

#graph.safari {
  margin: 0;
}

#graph a {
  outline: none;
  color: black;
}

#page {
  position: relative;
  width: 706px;
}

#sidebar {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
  padding-left: 15px;
  padding-bottom: 15px;
  pointer-events: none;
}

#chart {
  position: absolute;
  left: 216px;
}

#chart.fullscreen {
  left: 0;
  width: 100%;
}

#chart.safari.fullscreen {
  left: 4px;
  width: 100%;
}

#chart svg {
  margin: 3px;
}

#sidebar a, .info a, span.next {
  pointer-events: auto;
}


ul {
  padding-left: 20px;
}

li {
  display: list-item;
  list-style-image: none !important;
}

hr { border-width: 1px 0 0 }

blockquote {
  margin-left: 10px;
  font-style: italic;
}

h1 {
  margin: 0;
}

h2.domain img.favicon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
  vertical-align: middle;
}

h2.domain img.tracker {
  height: 30px;
}

div.disconnect-settings-menu {
  padding: 5px;
  pointer-events: auto;
}

div.settings-menu > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 8pt;
  background: white;
}


div.settings-menu > ul > li {
   background: white;
  list-style-image: none !important;
}

div.settings-menu > ul > li, div.settings-menu.collapsed {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

div.settings-menu > ul > li.invisible:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

div.settings-menu > ul > li:first-child {
  margin-top: 0px;
}

div.settings-menu > ul > li.invisible,
div.settings-menu > ul > li:hover,
div.settings-menu.collapsed:hover {
  background: white;
  color: black;
}

div.settings-menu.collapsed {
  position: absolute;
  top: 10px;
  border: 1px solid white;
  text-align: center;
}

#show-list {
  margin-left: 50px;
  margin-top: 20px;
  border-color: white;
  background: #009548;
  width: 170px;
  color: white;
}

#show-list:hover {
  border-color: #009548;
  background: white;
  color: #009548;
}