/*
  An overlay style sheet that makes the web faster, more private, and more
  secure.

  Copyright 2010-2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
#disconnect-button {
  margin-right: 0;
  list-style-image: url(chrome://disconnect/content/24.png);
  -moz-image-region: rect(0, 24px, 24px, 0)
}

toolbar[iconsize=small] #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#PersonalToolbar[mode=text] #disconnect-button { margin-top: -1px }

#CustomizeToolbarWindow #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#TabsToolbar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#TabsToolbar[mode=icons]
.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

.disconnect-badge#disconnect-button {
  -moz-image-region: rect(48px, 24px, 72px, 0)
}

toolbar[iconsize=small] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

#CustomizeToolbarWindow .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

#disconnect-button .toolbarbutton-menu-dropmarker { display: none }

#disconnect-item vbox { width: 4px }

#disconnect-badge {
  margin-top: 20px;
  margin-right: 0;
  margin-left: -14px;
  padding-right: 2px;
  padding-left: 2px;
  height: 12px;
  text-align: center;
  font:
      xx-small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  color: white;
  visibility: hidden
}

#TabsToolbar[mode=icons] #disconnect-badge { margin-top: 10px }

#TabsToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 12px;
  margin-right: 4px;
  margin-left: -8px
}

#nav-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: -28px
}

#nav-bar[iconsize=large] #disconnect-badge {
  margin-top: 24px;
  margin-right: 18px;
  margin-left: -30px
}

#nav-bar[iconsize=large] .windows#disconnect-badge {
  margin-top: 24px;
  margin-right: 18px;
  margin-left: -30px
}

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.windows#disconnect-badge {
  margin-top: 12px;
  margin-left: -8px
}

#nav-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#nav-bar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#nav-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -28px
}

#nav-bar[mode=full] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -29px
}

#PersonalToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 12px;
  margin-left: -8px
}

#PersonalToolbar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#PersonalToolbar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#PersonalToolbar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 15px;
  margin-left: -29px
}

#PersonalToolbar[mode=full] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -29px
}

#CustomizeToolbarWindow #disconnect-badge {
  margin-top: 33px;
  margin-left: -13px
}

#addon-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 5px;
  margin-left: -8px
}

#addon-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-right: 1px;
  margin-left: 2px
}

#addon-bar[mode=text] .windows#disconnect-badge {
  margin-top: 6px;
  margin-left: -5px
}

#addon-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -28px
}

#addon-bar[mode=full] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -29px
}

.disconnect-blocked#disconnect-badge {
  background: #009548;
  visibility: visible
}

.disconnect-unblocked#disconnect-badge {
  background: #787878;
  visibility: visible
}

#disconnect-list {
  display: block;
  margin-right: 1px;
  margin-left: 1px;
  box-shadow: none;
  border: none;
  padding: 0;
  height: 318px
}

#disconnect-graph {
  margin: 1px;
  box-shadow: none;
  border: none;
  padding: 0
}
