/*
  An overlay style sheet that makes the web faster, more private, and more
  secure.

  Copyright 2010-2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  This CSS resource incorporates links to font software which is the valuable
  copyrighted property of WebType LLC, The Font Bureau, and/or their suppliers.
  You may not attempt to copy, install, redistribute, convert, modify, or
  reverse engineer this font software. Please contact WebType with any
  questions: http://www.webtype.com/.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
@font-face {
  font-family: 'Antenna RE';
  src: url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot
  );
  src: url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot?
  ) format('embedded-opentype'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-3.woff
  ) format('woff'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-1.ttf
  ) format('truetype'), url(
    chrome://disconnect/skin/fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-4.svg#web
  ) format('svg');
  font-style: normal;
  font-weight: normal
}

#disconnect-button {
  margin-right: 0;
  list-style-image: url(chrome://disconnect/content/24.png);
  -moz-image-region: rect(0, 24px, 24px, 0)
}

toolbar[iconsize=small] #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#nav-bar[mode=full] .windows#disconnect-button { padding-top: 5px }

#PersonalToolbar[mode=text] #disconnect-button { margin-top: -1px }

#CustomizeToolbarWindow #disconnect-button {
  list-style-image: url(chrome://disconnect/content/16.png);
  -moz-image-region: rect(0, 16px, 16px, 0)
}

#toolbar-menubar .disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#TabsToolbar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#TabsToolbar[mode=icons]
.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

.disconnect-badge#disconnect-button {
  -moz-image-region: rect(48px, 24px, 72px, 0)
}

.linux.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

toolbar[iconsize=small] .linux.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#nav-bar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#nav-bar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.disconnect-badge#disconnect-badge {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.windows.disconnect-badge#disconnect-badge {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#PersonalToolbar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#PersonalToolbar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#PersonalToolbar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#CustomizeToolbarWindow .disconnect-badge#disconnect-button {
  -moz-image-region: rect(32px, 16px, 48px, 0)
}

#addon-bar[mode=icons] .disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#addon-bar[mode=icons]
.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#addon-bar[mode=full] .windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(24px, 24px, 48px, 0)
}

toolbar[iconsize=small]#addon-bar[mode=full]
.windows.disconnect-badge#disconnect-button {
  -moz-image-region: rect(16px, 16px, 32px, 0)
}

#disconnect-button .toolbarbutton-menu-dropmarker { display: none }

#disconnect-item vbox { width: 4px }

#disconnect-badge {
  margin: 14px 0 -3px -14px;
  padding-right: 2px;
  padding-left: 2px;
  height: 12px;
  text-align: center;
  font: xx-small 'Antenna RE', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  visibility: hidden
}

#navigator-toolbox[mode=icons] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: -3px;
  margin-left: -11px
}

#navigator-toolbox[mode=icons] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: -1px;
  margin-left: -15px
}

#navigator-toolbox[mode=text] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: -9px;
  margin-left: -5px
}

#navigator-toolbox[mode=text] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 9px;
  margin-right: -9px;
  margin-left: -9px
}

#navigator-toolbox[mode=full] #toolbar-menubar #disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -32px
}

#navigator-toolbox[mode=full] #toolbar-menubar .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

#TabsToolbar[mode=icons] #disconnect-badge { margin-top: 10px }

#TabsToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 11px;
  margin-right: -3px;
  margin-left: -11px
}

#TabsToolbar[mode=icons] .linux#disconnect-badge {
  margin-left: -15px;
  margin-top: 11px;
}

#nav-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 21px;
  margin-right: 17px;
  margin-left: -31px
}

#nav-bar[mode=icons] .linux#disconnect-badge {
  margin-top: 15px;
  margin-right: 5px;
  margin-left: -19px
}

#navigator-toolbox[iconsize=small] #nav-bar[mode=icons] #disconnect-badge {
  margin-top: 9px
}

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.windows#disconnect-badge { margin: 11px -3px -7px -11px }

#navigator-toolbox[iconsize=small]
#nav-bar[mode=icons]
.linux#disconnect-badge {
  margin-top: 13px;
  margin-left: -15px
}

#nav-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#nav-bar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#nav-bar[mode=text] .linux#disconnect-badge {
  margin-top: 9px;
  margin-left: -7px
}

#nav-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -30px
}

#nav-bar[mode=full] .windows#disconnect-badge {
  margin-top: 11px;
  margin-right: 17px;
  margin-left: -32px
}

#nav-bar[mode=full] .linux#disconnect-badge {
  margin-top: 15px;
  margin-right: 26px;
  margin-left: -39px
}

#navigator-toolbox[iconsize=small] #nav-bar[mode=full] .linux#disconnect-badge {
  margin-top: 12px
}

#PersonalToolbar[mode=icons] #disconnect-badge { margin-top: 9px }

#PersonalToolbar[mode=icons] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: -3px;
  margin-left: -11px
}

#PersonalToolbar[mode=icons] .linux#disconnect-badge {
  margin-top: 12px;
  margin-left: -15px
}

#PersonalToolbar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-left: 3px
}

#PersonalToolbar[mode=text] .windows#disconnect-badge {
  margin-top: 9px;
  margin-left: -5px
}

#PersonalToolbar[mode=text] .linux#disconnect-badge {
  margin-top: 8px;
  margin-left: -7px
}

#PersonalToolbar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 15px;
  margin-left: -30px
}

#PersonalToolbar[mode=full] .windows#disconnect-badge {
  margin-top: 9px;
  margin-right: 17px;
  margin-left: -32px
}

#PersonalToolbar[mode=full] .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

#CustomizeToolbarWindow #disconnect-badge { margin-top: 33px }

#CustomizeToolbarWindow .windows#disconnect-badge {
  margin-top: 32px;
  margin-right: -3px;
  margin-left: -11px
}

#addon-bar[mode=icons] #disconnect-badge { margin-top: 9px }

#addon-bar[mode=icons] .windows#disconnect-badge {
  margin-top: 8px;
  margin-right: -3px;
  margin-left: -11px
}

#addon-bar[mode=icons] .linux#disconnect-badge {
  margin-top: 11px;
  margin-left: -15px
}

#addon-bar[mode=text] #disconnect-badge {
  margin-top: 3px;
  margin-right: 1px;
  margin-left: 2px
}

#addon-bar[mode=text] .windows#disconnect-badge {
  margin-top: 6px;
  margin-left: -5px
}

#addon-bar[mode=text] .linux#disconnect-badge {
  margin-top: 9px;
  margin-left: -10px
}

#addon-bar[mode=full] #disconnect-badge {
  margin-top: 13px;
  margin-right: 14px;
  margin-left: -29px
}

#addon-bar[mode=full] .windows#disconnect-badge {
  margin-top: 6px;
  margin-right: 17px;
  margin-left: -32px
}

#addon-bar[mode=full] .linux#disconnect-badge {
  margin-top: 12px;
  margin-right: 26px;
  margin-left: -39px
}

.disconnect-blocked#disconnect-badge {
  background: #009548;
  visibility: visible
}

.disconnect-unblocked#disconnect-badge {
  background: #787878;
  visibility: visible
}

#disconnect-list {
  display: block;
  margin-right: 1px;
  margin-left: 1px;
  box-shadow: none;
  border: none;
  padding: 0
}

#disconnect-navbar .disconnect-text a {
  position: relative;
  top: -3px
}

.disconnect-category .disconnect-badge {
  position: relative;
  top: 2px
}

.disconnect-category .disconnect-action {
  position: relative;
  top: 2px
}

#disconnect-graph {
  margin: 1px;
  box-shadow: none;
  border: none;
  padding: 0
}
