/*
  The style sheet for a popup that displays and drives the blocking of requests.

  Copyright 2010-2012 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
body, #services td { text-align: center }

body {
  margin: 0;
  width: 140px;
  font: x-small Arial, sans-serif
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse
}

:link, :visited { color: #003ea8 }

.deactivated { color: #7f7f7f }

.mouseover { background: #f4f6fc }

#services { font-size: small }

#services tr {
  border: solid #edeff5;
  border-width: thin 0;
  cursor: pointer
}

#services tr:first-child { display: none }

#services td { padding: 3px 0 3px 6px }

#services td:last-child {
  padding-right: 6px;
  width: 100%
}
