<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Disconnect</string>
	<key>Builder Version</key>
	<string>6534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Disconnect</string>
	<key>CFBundleIdentifier</key>
	<string>me.disconnect.disconnect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>browser_action</string>
				<key>Image</key>
				<string>chrome/images/19.png</string>
				<key>Label</key>
				<string>Disconnect</string>
				<key>Popover</key>
				<string></string>
				<key>Tool Tip</key>
				<string>View and manage blocked requests</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>chrome/scripts/vendor/port/port.js</string>
				<string>chrome/scripts/content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Stop third parties and search engines from tracking the webpages you go to and searches you do.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://disconnect.me/disconnect.plist</string>
	<key>Website</key>
	<string>https://disconnect.me/</string>
</dict>
</plist>
