@font-face {
  font-family: 'Antenna RE';
  src: url(../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot);
  src: url(
    ../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot?
  ) format('embedded-opentype'), url(
    ../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-3.woff
  ) format('woff'), url(
    ../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-1.ttf
  ) format('truetype'), url(
    ../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-4.svg#web
  ) format('svg');
  font-style: normal;
  font-weight: normal
}

@font-face {
  font-family: 'Antenna RE Bold';
  src: url(../fonts/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-2.eot);
  src: url(
    ../fonts/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-2.eot?
  ) format('embedded-opentype'), url(
    ../fonts/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-3.woff
  ) format('woff'), url(
    ../fonts/69e03e4b-d31e-4a31-b803-d31679c0e921-1.ttf
  ) format('truetype'), url(
    ../fonts/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-4.svg#web
  ) format('svg');
  font-style: normal;
  font-weight: normal
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}
#topbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #323743;
    height: 45px;
}

#logo {
    background: url(/images/dashboard/logo.png) no-repeat;
    display: block;
    position: absolute;
    width: 29px;
    height: 24px;
    left: 17px;
    top: 11px;
}

#contribute_btn {
    position: absolute;
    font-family: 'Antenna RE', sans-serif;
    right: 17px;
    top: 3px;
    display: block;
    background: #00ae68 url(../images/heart.png) no-repeat 23px 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 47px;
    width: 165px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: background-color .4s ease;
    -moz-transition: background-color .4s ease;
    -ms-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
}

#contribute_btn:hover {
    background-color: #00bf72;
}

#main_left {
    width: 70%;
    float: left;
    position: relative;
}

#main_left > div {
    position: absolute;
    width: 280px;
    height: 280px;
}

#main_left > div[data-ss-colspan="2"] {
    width: 563px;
}
#main_left > div[data-ss-colspan="3"] {
    width: 846px;
}
#main_right {
    width: 30%;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
}
#main_left #date_box {
    height: 25px;
    background: #efefef;
    /*background: #255B7C;*/
    /*background: #393F4D;*/
    /*background: #FFF;*/
    /*background: #323743;*/
    background: #414756;
    /*color: #FFF;*/
    color: #d7dae1;
    /*color: #ACAEB1;*/
    text-align: center;
    font-family: 'Antenna RE', sans-serif;
    font-size: 12px;
    padding-top: 5px;
}
#date_box strong {
    font-family: 'Antenna RE Bold', sans-serif;
    color: #FFF;
    font-weight: normal;
}

#date_box #previous, #date_box #next {
    font-family: Helvetica;
    position: absolute;
    background: rgba(255,255,255, .2);
    height: 23px;
    padding-top: 7px;
    width: 23px;
    text-align: center;
    top: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .4s ease-out;
       -moz-transition: opacity .4s ease-out;
        -ms-transition: opacity .4s ease-out;
         -o-transition: opacity .4s ease-out;
            transition: opacity .4s ease-out;
}
#date_box #previous {
    left: 0;
    padding-right: 8px;
}
#date_box #previous.inactive, #date_box #next.inactive {
    opacity: .4;
    cursor: default;
}
#date_box #next {
    right: 0;
    padding-left: 8px;
}
.stat_box {
    background: #efefef;
    color: #323743;
    -webkit-transition: background-color .4s ease-out;
       -moz-transition: background-color .4s ease-out;
        -ms-transition: background-color .4s ease-out;
         -o-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out;
    /*-webkit-transition: color .4s ease-out;*/
       /*-moz-transition: color .4s ease-out;*/
        /*-ms-transition: color .4s ease-out;*/
         /*-o-transition: color .4s ease-out;*/
            /*transition: color .4s ease-out;*/
}
.stat_box span.stat{
    font-size: 48px;
    font-family: 'Helvetica Neue';
    display: block;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
}
.stat_box span.stat_label {
    font-size: 14px;
    font-family: 'Antenna RE',sans-serif;
    text-align: center;
    display: block;
}

.stat_box:hover, .stat_box:active, .ss-dragged-child {
    background: #323743;
    color: #FFF;
}

#community_stats {
    background: #00AE68;
}

#timeline {
    height: 100%;
    font-family: 'Antenna RE',sans-serif;
    color: #323743;
    font-size: 12px;
    border-left: 1px solid #c9c9c9;
    position: relative;
    padding: 0;
    margin: 0px 43px 0 30px;
}

#timeline li {
    list-style-type: none;
    color: #c9c9c9;
    padding-left: 17px;
    position: relative;
    margin-bottom: 50px;
}

#timeline li:first-child {
    margin-top: 45px;
}

#timeline small {
    color: #ACAEB1;
    font-size: 8px;
}
#timeline li p {
    margin-top: 0;
    color: #747474;
}
#timeline li .circle {
    margin-top: -10px;
    top: 10px;
    left: -7px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.bar_graph {
    text-align: center;
    margin-top: 4px;
}
.bar_graph svg rect{
    fill: #c9c9c9;
    cursor: pointer;
}
.stat_box:hover .bar_graph svg rect, .ss-dragged-child .bar_graph svg rect {
    fill: #00ae68;
}
.stat_box .bar_graph svg text {
    font-size: 12px;
    text-align: center;
    fill: #00ae68;
    -webkit-transition: fill-opacity .4s ease-out;
       -moz-transition: fill-opacity .4s ease-out;
        -ms-transition: fill-opacity .4s ease-out;
         -o-transition: fill-opacity .4s ease-out;
            transition: fill-opacity .4s ease-out;
}

.bar_graph svg g.days text{
    fill: #323743
}



svg #left_arrow, svg #right_arrow {
    cursor: pointer;
}
svg .arrow {
    fill: #C9C9C9;
    fill-opacity: 0;
    -webkit-transition: fill-opacity .4s ease-out;
       -moz-transition: fill-opacity .4s ease-out;
        -ms-transition: fill-opacity .4s ease-out;
         -o-transition: fill-opacity .4s ease-out;
            transition: fill-opacity .4s ease-out;
}



.stat_box:hover .arrow {
    fill-opacity:1;
}

.stat_box:hover svg .arrow.inactive {
    fill-opacity: .2;
    cursor: none;
}


/* Community Stats */
#community_stats {
    color: #FFF;
    position: relative;
}
#community_stats .left {
    position: absolute;
    top: 0;
    left: 0;
}
#community_stats ul {
    list-style: none;
    padding: 0 0 0 30px;
    margin-top: 35px;
}
#community_stats li {
    margin-bottom: 35px;
}
#community_stats .stat {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 29px;
    line-height: 28px;
}
#community_stats .stat_label {
    display: block;
    font-family: 'Antenna RE';
    font-size: 14px;
    font-weight: 100;
}

#community_stats .graph .rulers line {
    stroke: #00a562;
    stroke-width: 1;
}

/* Blocked requests line chart */
#community_stats .blocked_requests .dots circle {
    fill: #01814d;
}
#community_stats .blocked_requests .line path {
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke: #01814d;
}

/* Secured requests line chart */
#community_stats .secured_requests .dots circle {
    fill: #019459;
}
#community_stats .secured_requests .line path {
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke: #019459;
}

/* Saved bandwith line chart */
#community_stats .saved_bandwidth .dots circle {
    fill: #32d795;
}
#community_stats .saved_bandwidth .line path {
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke: #32d795;
}

/* -- Pie Chart -- */
#user_value:hover {
    background: #efefef;
}
.value_text {
    font-size: 41px;
    fill: #323743;
}
.value_label {
    font-size: 14px;
    fill: #323743;
    font-family: 'Antenna RE';
}

/* -- Notification Box -- */
.notification_box {
    background: #efefef;
    height: 100px !important;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}