<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>me.disconnect.disconnect</string>
			<key>Developer Identifier</key>
			<string>3XK29JV5B2</string>
			<key>CFBundleVersion</key>
			<string>8‎</string>
			<key>CFBundleShortVersionString</key>
			<string>3.0.1</string>
			<key>URL</key>
			<string>https://disconnect.me/disconnect.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
