/*
  The style sheet for a pay-what-you-want page.

  Copyright 2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Eason Goodale <eason.goodale@gmail.com>
    Brian Kennish <byoogle@gmail.com>
*/
body {
  margin: 0;
  min-width: 980px;
  font:
      small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  color: #2b2b2b
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
  background: #f9f9f9
}

#hero {
  margin-top: -45px;
  margin-right: 5%;
  margin-left: 10%;
  background: url(../images/d2/browser.png) no-repeat top right;
  height: 651px;
  overflow: visible
}

#description {
  display: inline-block;
  margin-top: 120px;
  margin-left: 6%;
  width: 60%;
  vertical-align: top
}

h2 {
  font-weight: normal;
  color: #999
}

#cta { margin-top: 60px }

#pwyw {
  display: inline-block;
  float: left;
  margin-right: 15px;
  background: url(../images/d2/pwyw.png);
  width: 240px;
  height: 56px;
  cursor: pointer
}

#pwyw:hover { background-position: 0 -56px }

#more {
  display: table-cell;
  height: 56px;
  vertical-align: middle;
  font-size: medium;
  color: #5baf4d;
  cursor: pointer
}

#more:hover { text-decoration: underline }

#try {
  position: absolute;
  left: -150px;
  top: 300px
}

#embed {
  display: inline-block;
  width: 33%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2)
}

#features {
  margin-top: -120px;
  margin-right: 5%;
  margin-left: 10%
}

.feature {
  display: inline-block;
  width: 33%
}

.feature img {
  float: left;
  margin-right: 15px
}

.feature .text {
  display: table-cell;
  height: 80px;
  vertical-align: middle
}

.feature h2 {
  margin-top: 0;
  color: #2b2b2b
}

.feature p { margin-bottom: 0 }

.green {
  color: #5baf4d;
}

.large-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 150%;
}

#video-box {
  margin-top: 50px;
  margin-left: 182px;
  margin-bottom: 60px;
  background-color: #ebebeb;
}

#video-box #video-text {
  float: right;
  margin-right: 74px;
  width: 376px;
  text-align: right;
}

#payment-box {
  margin-left: 182px;
}

#payment-box #payment-headlines {
  border-bottom: #d5d5d5;
}

#payment-box .number {
  float: left;
  font-size: 150%;
  font-weight: bold;
}

#payment-box .content {
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 25px;
}

#payment-box .instruction {
  margin-top: 5px;
  margin-left: 20px;
}

#payment-box .border-top {
  border-top: 1px solid #d5d5d5;
  padding-top: 29px;
}

#payment-box .payment-selection {
  margin-left: -26px;
}

#payment-box #custom-amount {
  width: 80px;
}

#payment-box #choose-division {
  width: 640px;
}

#payment-box #payment-buttons {
  margin-bottom: 50px;
}

#payment-box .description {
  margin-bottom: 10px;
}

#payment-box #slider {
  position: relative;
  height: 11px;
}

#payment-box .ui-slider-handle {
  background: url(../images/d2/slider-handle.png) no-repeat;
  height: 11px;
  width: 11px;
  position: absolute;
  margin-left: -6px;
  top: -4px;
}

#payment-box .slider-holder {
  height: 5px;
  position: relative;
  background: url(../images/d2/slider.png) no-repeat;
  width: 359px;
  top: 7px;
  margin-bottom: 20px;
}

#payment-box .slider-container {
  float: right;
}

#payment-box .slider-values {
  float: right;
  margin-left: 10px;
}
#payment-box .slider-values input{
  display: block;
  width: 80px;
}
