/*
  The style sheet for a pay-what-you-want page.

  Copyright 2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Eason Goodale <eason.goodale@gmail.com>
    Brian Kennish <byoogle@gmail.com>
*/
body {
  margin: 0;
  min-width: 980px;
  font:
      small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  color: #2b2b2b
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  background: #f9f9f9
}

#logo {
  display: inline-block;
  background: url(../images/d2/disconnect.png);
  width: 221px;
  height: 33px
}

#logo:hover { background-position: 0 -33px }

#hero {
  margin-top: -15px;
  margin-right: 5%;
  margin-left: 10%;
  background: url(../images/d2/browser.png) no-repeat top right;
  height: 651px;
  overflow: visible
}

#cta {
  display: inline-block;
  margin-top: 120px;
  width: 66%;
  vertical-align: top
}

#headline {
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

#description {
  margin-top: 20px;
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

#actions {
  margin-top: 60px;
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

#get-action {
  display: inline-block;
  float: left;
  margin-right: 15px;
  background: url(../images/d2/get.png);
  width: 272px;
  height: 56px;
  cursor: pointer
}

#get-action:hover { background-position: 0 -56px }

#pwyw-action {
  display: inline-block;
  float: left;
  margin-right: 15px;
  background: url(../images/d2/pwyw.png);
  width: 272px;
  height: 56px;
  cursor: pointer
}

#pwyw-action:hover { background-position: 0 -56px }

#more-action {
  display: table-cell;
  height: 56px;
  vertical-align: middle;
  font-size: medium;
  color: #5baf4d;
  cursor: pointer
}

#more-action:hover { color: #009548 }

#embed {
  display: inline-block;
  width: 33%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2)
}

#links {
  position: absolute;
  top: 30px;
  right: 10%;
  text-transform: uppercase
}

#links a {
  margin-left: 20px;
  color: #909090
}

#links a:hover { color: #72aa79 }

#try {
  position: absolute;
  top: 410px;
  left: 45%
}

#features {
  margin-top: -60px;
  margin-right: 5%;
  margin-left: 10%
}

#features .feature {
  display: inline-block;
  width: 33%
}

#features img {
  float: left;
  margin-right: 15px
}

#features .text {
  display: table-cell;
  height: 80px;
  vertical-align: middle
}

h2 { font-weight: normal }

#features h2 { margin-top: 0 }

#features p { margin-bottom: 0 }

#more {
  margin-top: 60px;
  background-color: #ebebeb;
  padding: 75px 5% 75px 10%;
  min-height: 312px
}

#more img {
  float: left;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer
}

#more img:hover { border: 1px solid #2b2b2b }

#more h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #5baf4d
}

p { overflow: auto }

#more p {
  margin-top: 24px;
  font-size: medium;
  color: #909090
}

#pwyw {
  margin: 45px 5% 45px 10%;
  width: 55%;
  min-width: 600px
}

#pwyw h2 {
  padding-bottom: 5px;
  color: #5baf4d
}

#pwyw .count {
  float: left;
  font-size: 20px;
  font-weight: bold
}

#pwyw .step {
  margin-top: 20px;
  margin-left: 20px
}

input {
  font:
      small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  outline-color: #009548
}

input[type=radio] {
  position: relative;
  margin-bottom: 4px;
  margin-left: 2px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 100%;
  background: -webkit-linear-gradient(#ededed 38%, #dedede);
  width: 13px;
  height: 13px;
  vertical-align: middle
}

input[type=radio]:checked {
  background: -webkit-linear-gradient(#60d490 38%, #68b789)
}

input[type=radio]:checked:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 100%;
  background-color: #666;
  content: ''
}

input[type=text] {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 1px;
  padding: 3px
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #d5d5d5
}

#two label {
  display: inline-block;
  margin-right: 5px;
  width: 80px
}

#pwyw .slider {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 10px;
  background: url(../images/d2/slider.png);
  width: 359px;
  height: 5px
}

#pwyw .ui-slider-handle {
  position: absolute;
  top: -3px;
  margin-left: -6px;
  background: url(../images/d2/slider-handle.png);
  width: 11px;
  height: 11px;
  outline: none
}

#two input {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .25);
  background: -webkit-linear-gradient(#8dc9a6 38%, #87dfab)
}

#two img {
  margin-left: -3px;
  vertical-align: top;
  cursor: pointer
}

#pwyw .note {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  color: #a9a9a9
}

a {
  text-decoration: none;
  color: #5baf4d
}

a:hover { color: #009548 }

input[type=checkbox] {
  margin-left: 2px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 1px;
  background: -webkit-linear-gradient(#ededed 38%, #dedede);
  width: 12px;
  height: 12px
}

input[type=checkbox]:checked {
  background: -webkit-linear-gradient(#60d490 38%, #68b789)
}

input[type=checkbox]:before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: ''
}

input[type=checkbox]:checked:before {
  background: url(../images/check.png);
  background-size: contain
}

#four div {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  width: 210px;
  height: 45px;
  cursor: pointer
}

#four div:hover { background-position: 0 -45px }

#cc { background: url(../images/d2/cc.png) }

#bitcoin { background: url(../images/d2/bitcoin.png) }

#zero { background: url(../images/d2/zero.png) }
