/*
  The style sheet for a pay-what-you-want page.

  Copyright 2013 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Eason Goodale <eason.goodale@gmail.com>
    Brian Kennish <byoogle@gmail.com>
*/
body {
  margin: 0 0 45px;
  min-width: 980px;
  font:
      small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  color: #2b2b2b
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
  background: #f9f9f9
}

#hero {
  margin-top: -45px;
  margin-right: 5%;
  margin-left: 10%;
  background: url(../images/d2/browser.png) no-repeat top right;
  height: 651px;
  overflow: visible
}

#description {
  display: inline-block;
  margin-top: 120px;
  margin-left: 6%;
  width: 60%;
  vertical-align: top
}

#description h1 {
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

h2 {
  font-weight: normal;
  color: #999
}

#description h2 {
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

#cta {
  margin-top: 60px;
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    100%,
    color-stop(0%, white),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -moz-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1, startColorstr='#ffffffff', endColorstr='#00ffffff'
  );
  background: -ms-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  );
  background: -o-radial-gradient(
    center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%
  )
}

#pwyw-action {
  display: inline-block;
  float: left;
  margin-right: 15px;
  background: url(../images/d2/pwyw.png);
  width: 240px;
  height: 56px;
  cursor: pointer
}

#pwyw-action:hover { background-position: 0 -56px }

#more-action {
  display: table-cell;
  height: 56px;
  vertical-align: middle;
  font-size: medium;
  color: #5baf4d;
  cursor: pointer
}

#more-action:hover { color: #009548 }

#try {
  position: absolute;
  top: 320px;
  left: -200px
}

#embed {
  display: inline-block;
  width: 33%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2)
}

#features {
  margin-top: -120px;
  margin-right: 5%;
  margin-left: 10%
}

#features .feature {
  display: inline-block;
  width: 33%
}

#features img {
  float: left;
  margin-right: 15px
}

#features .text {
  display: table-cell;
  height: 80px;
  vertical-align: middle
}

#features h2 {
  margin-top: 0;
  color: #2b2b2b
}

#features p { margin-bottom: 0 }

#more {
  margin-top: 20px;
  background-color: #ebebeb;
  padding: 60px 5% 60px 10%;
  min-height: 312px
}

#more img {
  float: left;
  margin-right: 20px
}

#more h2 {
  margin-top: 0;
  color: #5baf4d
}

p { overflow: auto }

#pwyw {
  margin-top: 45px;
  margin-right: 5%;
  margin-left: 10%;
  width: 50%;
  min-width: 600px
}

#pwyw h2 {
  padding-bottom: 5px;
  color: #5baf4d
}

#pwyw .count {
  float: left;
  font-size: 20px;
  font-weight: bold
}

#pwyw .step {
  margin-top: 20px;
  margin-left: 20px
}

input {
  font:
      small 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica,
          Arial, sans-serif;
  outline-color: #009548
}

input[type=radio] {
  position: relative;
  margin-bottom: 4px;
  margin-left: 2px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 100%;
  background: -webkit-linear-gradient(#ededed 38%, #dedede);
  width: 13px;
  height: 13px;
  vertical-align: middle
}

input:checked {
  background: -webkit-linear-gradient(#60d490 38%, #68b789)
}

input[type=radio]:checked:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 100%;
  background-color: #666;
  content: ''
}

input[type=text] {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 2px;
  padding: 3px
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #d5d5d5
}

#two label {
  display: inline-block;
  margin-right: 5px;
  width: 80px
}

#pwyw .slider {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 10px;
  background: url(../images/d2/slider.png);
  width: 359px;
  height: 5px
}

#pwyw .ui-slider-handle {
  position: absolute;
  top: -3px;
  margin-left: -6px;
  background: url(../images/d2/slider-handle.png);
  width: 11px;
  height: 11px;
  outline: none
}

#two input { background: -webkit-linear-gradient(#60d490 38%, #68b789) }

#two img {
  margin-left: -3px;
  vertical-align: top
}

#pwyw .note {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  color: #a9a9a9
}

a {
  text-decoration: none;
  color: #5baf4d
}

a:hover { color: #009548 }

input[type=checkbox] {
  margin-left: 2px;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 2px;
  background: -webkit-linear-gradient(#ededed 38%, #dedede);
  width: 12px;
  height: 12px
}

input[type=checkbox]:before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: ''
}

input[type=checkbox]:checked:before {
  background: url(../images/check.png);
  background-size: contain
}

#stripe {
  margin-top: 2px;
  margin-right: 10px;
  vertical-align: top;
  text-decoration: none
}
