body {
  margin: 0px;
  padding: 0px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#logo {
  margin-left: 182px;
  margin-bottom: 30px;
  margin-top: 28px;
}

.info_boxes {
  margin-left: 182px;
  margin-top: 27px;
  height: 340px;

}

.info_boxes .info_box {
  float: left;
  width: 288px;
  margin-right: 70px;
}

.headline {
  font-size: 150%;
}

#grey_box {
  background-color: #ebebeb;
  padding-left: 182px;
  padding-top: 60px;
  padding-bottom: 49px;
  height: 631px;
  width: 100%;
}

#grey_box .grey_text {
  margin-bottom: 65px;
  width: 410px;
}

.green_headline {
  color: #5baf4d;
}

.large_title {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#grey_box #screenshot {
  margin-top: -30px;
  margin-right: 196px;
  float: right;
}

#video_box {
  margin-left: 182px;
  margin-top: 50px;
  margin-bottom: 60px;
}

#video_box #video_text {
  margin-right: 74px;
  float: right;
  width: 376px;
  text-align: right;
}

#payment_box {
  margin-left: 182px;
}

#payment_box #payment_headlines {
  border-bottom: #d5d5d5;
}

#payment_box .payment_radio {

}

#payment_box .number {
  float: left;
  font-size: 150%;
  font-weight: bold;
}

#payment_box .content {
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 15px;
}

#payment_box .instruction {
  margin-top: 5px;
  margin-left: 20px;
}

#payment_box .border_top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d5d5d5;
  padding-top: 29px;
}

#payment_box .payment_selection {
  margin-left: -26px;
}

#payment_box #custom_amount {
  width: 80px;
}

#payment_box #choose_division {
  width: 640px;
}

#payment_box #payment_buttons {
  margin-bottom: 50px;
}

#slider_descriptions {
  
}

#payment_box .description {
  margin-bottom: 10px;
}

#payment_box #slider {
  height:11px !important;
  position:relative !important;
}

#payment_box .ui-slider-handle {
  background:url(https://humblepull-wolfire.netdna-ssl.com/static/hashed/369d611c54324f3ef0ad662d18d45435c87c2f41.png) no-repeat !important;
  height:11px !important;
  width:11px !important;
  position:absolute !important;
  margin-left:-6px !important;
  z-index:10 !important;
  top:-4px !important;
}

#payment_box .slider-holder {
  height:5px !important;
  position:relative !important;
  background:url(https://humblepull-wolfire.netdna-ssl.com/static/hashed/ac1aad59e9aea8b45c08d601b1752ee068c1dc8c.png) no-repeat !important;
  width: 359px !important;
  top:7px !important;
  margin-bottom: 20px;
}
#payment_box .slider-holder .right {
  position:absolute !important;
  right:-2px !important;
  top:0 !important;
  bottom:0 !important;
  width:2px !important;
  background:url(https://humblepull-wolfire.netdna-ssl.com/static/hashed/ac1aad59e9aea8b45c08d601b1752ee068c1dc8c.png) no-repeat right !important;
}
#payment_box .slider-container {
  float: right;
}

#payment_box .slider_values {
  float: right;
  margin-left: 10px;
}
#payment_box .slider_values input{
  width: 80px;
  display: block
}