<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Disconnect</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Disconnect</string>
	<key>CFBundleIdentifier</key>
	<string>me.disconnect.disconnect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>opera/chrome/markup/background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>browser_action</string>
				<key>Image</key>
				<string>opera/chrome/images/19.png</string>
				<key>Label</key>
				<string>Disconnect</string>
				<key>Popover</key>
				<string></string>
				<key>Tool Tip</key>
				<string>View and manage blocked requests</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>opera/chrome/scripts/vendor/port/port.js</string>
				<string>opera/chrome/scripts/vendor/jquery/jquery.js</string>
				<string>opera/chrome/scripts/vendor/sitename/alttlds.js</string>
				<string>opera/chrome/scripts/vendor/sitename/tldpatch.js</string>
				<string>opera/chrome/scripts/vendor/sitename/sitename.js</string>
				<string>opera/chrome/scripts/content.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>opera/chrome/stylesheets/content.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Make the web faster, more private, and more secure.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://disconnect.me/disconnect.plist</string>
	<key>Website</key>
	<string>https://disconnect.me/</string>
</dict>
</plist>
